@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: transparent;
}

.card {
    aspect-ratio: 226 / 314;
    height: 20vmin;
    background-size: cover;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
    box-shadow: 0.5vmin 0.3vmin 1vmin black;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
            90deg,
            #00000015,
            transparent,
            transparent,
            #00000015
        ),
        linear-gradient(#00000015, transparent, transparent, #00000015);
    background-color: #006000;
}

html,
body {
    height: 100%;
}

.hand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmax;
    flex-wrap: wrap;
    margin: 0 10vmax;
    flex: 1;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vmax;
    margin: 5vmin;
}

button {
    box-shadow: 0.3vmin 0.1vmin 1vmin black;
    padding: 1vmin 2vmin;
    font-size: 3vmin;
    font-family: 'Comfortaa', cursive;
    border-radius: 2vmin;
    -webkit-border-radius: 2vmin;
    -moz-border-radius: 2vmin;
    -ms-border-radius: 2vmin;
    -o-border-radius: 2vmin;
}

#dealerScore,
#playerScore,
#status,
#score {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 5vmin;
    font-family: 'Comfortaa', cursive;
    text-shadow: 0.3vmin 0.2vmin 0.5vmin black;
}

#dealer {
    margin-top: 10vmin;
}

#player {
    margin-bottom: 10vmin;
}

.placeholder {
    background-image: url('./resources/facedown.png');
}

#mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #008000;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
    font-size: 5vmin;
    padding: 3vmin;
    border-top-right-radius: 3vmin;
    position: absolute;
    width: 50vmin;
    bottom: 0;
}

#hide {
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    height: 3vmin;
    width: 3vmin;
}

#hide::before {
    right: 1vmin;
    position: absolute;
    content: '';
    background-color: #fff;
    height: 3vmin;
    width: 0.5vmin;
    rotate: 45deg;
    border-radius: 1vmin;
    -webkit-border-radius: 1vmin;
    -moz-border-radius: 1vmin;
    -ms-border-radius: 1vmin;
    -o-border-radius: 1vmin;
}

#hide::after {
    left: 1.5vmin;
    position: absolute;
    content: '';
    background-color: #fff;
    height: 3vmin;
    width: 0.5vmin;
    rotate: -45deg;
    border-radius: 1vmin;
    -webkit-border-radius: 1vmin;
    -moz-border-radius: 1vmin;
    -ms-border-radius: 1vmin;
    -o-border-radius: 1vmin;
}

@media (orientation: landscape) {
    #mobile {
        display: none;
    }
}
